<% if @article.errors.any? %>
<p style="color: red;">The following errors ocurred:</p>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @article do |t| %>
  <p>
    <%= t.label :title %>
    <%= t.text_field :title %>
  </p>
  <p>
    <%= t.label :description %>
    <%= t.text_area :description %>
  </p>
  <p>
    <%= t.submit "Envie seu artigo" %>
  </p>
<% end %>

<p>
  <%= link_to "Cancel. Back to listing articles", articles_path %>
</p>
