<h1>Showing selected article</h1>
<hr />

<p>
  <b>Title:</b> <%= @article.title %>
</p>

<p>
  <b>Description:</b> <%= @article.description %>
</p>

<% if @article.user %>
  <small>
    About the author:
  </small>
  <center><table>
    <tr>
      <th>Image</th>
      <th>Username</th>
      <th>Articles Written</th>
    </tr>
  <tr>
    <td><%= link_to gravatar_for(@article.user, size: 50), user_path(@article.user) %></td>
    <td><%= link_to @article.user.username, user_path(@article.user) %></td>
    <td><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></td>
  </tr>
  </table></center>
<% end %>

<p>
  <%= link_to "Edit this article", edit_article_path(@article) %>
</p>

<p>
  <%= link_to "Cancel. Back to listing articles", articles_path %>
</p>
